@model EditUserViewModel
@{
    string strTitle = "Edit user data";
    ViewBag.Title = strTitle;
}

<div>
    <h1>@strTitle</h1>
    <div>
        <form asp-area="User" asp-controller="UserProfile" asp-action="Edit" method="post">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="UserName"></label><br />
                <input asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <input type="submit" value="Send" />
            </div>
        </form>
    </div>
</div>