@{
    string strTitle = "Admin panel";
    ViewBag.Title = strTitle;
}

<div>
    <h1>@strTitle</h1>
    <div>
        <h3>Edit the website data</h3>
        <p><a asp-area="Admin" asp-controller="EmployeeItems" asp-action="Index">Employees</a></p>
        <p><a asp-area="Admin" asp-controller="ProductItems" asp-action="Index">Products</a></p>
        <p><a asp-area="Admin" asp-controller="ProductTypeItems" asp-action="Index">Product types</a></p>
        <p><a asp-area="Admin" asp-controller="PageData" asp-action="Index">Pages data</a></p>
    </div>
    <div>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
</div>