@{
    string userName = ViewBag.userName;
}

<div>
    <h1>Welcome, @userName</h1>
    <div>
        <h3>User menu</h3>
        <p><a asp-area="User" asp-controller="EmployeeItems" asp-action="Index">Employees</a></p>
        <p><a asp-area="User" asp-controller="ProductItems" asp-action="Index">Products</a></p>
        <p><a asp-area="User" asp-controller="UserCart" asp-action="Index">Cart</a></p>
        <p><a asp-area="User" asp-controller="UserProfile" asp-action="Index">Profile</a></p>
    </div>
@*    <div>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>*@
</div>
